.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.app .timer {
  width: 150px;
  text-align: center;
  flex: 1;
  padding: 15px;
  color: #f3f3f3;
  background-color: #171717;
  border-radius: 8px 8px 0px 0px;
}

.app .buttons {
  text-align: center;
  width: 150px;
  flex: 1;
  padding: 15px;
  background-color: #f3f3f3;
  border-radius: 0px 0px 8px 8px;
}
